/* Copyritht © 2022 Marcin Różewski MDSANIMA */

/* colors palette definition mdsanima */
:root {
    --color-mdsanima-sky-500: #0EA5E9;
    --color-mdsanima-sky-600: #0284C7;
    --color-mdsanima-sky-800: #075985;
    --color-mdsanima-lime-600: #65A30D;
    --color-mdsanima-teal-500: #14B8A6;
    --color-mdsanima-teal-600: #0D9488;
    --color-mdsanima-teal-800: #115E59;
    --color-mdsanima-orange-500: #F97316;
    --color-mdsanima-red-500: #EF4444;
    --color-mdsanima-code: #10141D;
    --color-mdsanima-bg-primary: #010409;
    --color-mdsanima-bg-secondary: #05080E;
}

/* theme button disable only dark theme */
.theme-toggle {
    display: none;
}

/* middle content */
.content {
    width: 46em;
}

/* no line search */
.sidebar-search {
    border-bottom: 0px;
    border-top: 0px;
}

/* space sidebar left */
body {
    --sidebar-tree-space-above: 1.0rem; /* space between search and first element */
    --sidebar-caption-space-above: 0.8rem; /* space between caption elements */
}

/* dark theme customization */
body:not([data-theme=light]) {
    --color-brand-primary: var(--color-mdsanima-sky-500); /* text link left sidebar */
    --color-brand-content: var(--color-mdsanima-sky-500); /* text link code */
    --color-background-primary: var(--color-mdsanima-bg-primary); /* content right */
    --color-background-secondary: var(--color-mdsanima-bg-primary); /* content left */
    --color-background-border: var(--color-mdsanima-code); /* no line */
    --color-background-hover: var(--color-mdsanima-bg-secondary); /* menu hover left */
    --color-admonition-background: var(--color-mdsanima-bg-secondary); /* colors admonitions */
    --color-api-name: var(--color-mdsanima-sky-600); /* code function right */
    --color-problematic: var(--color-mdsanima-sky-800); /* code function left */
    --color-highlight-on-target: var(--color-mdsanima-code); /* target click */
    --sd-color-primary-highlight: var(--color-mdsanima-sky-800); /* badge link text hover */
}

/* code block python colors */
body:not([data-theme=light]) .highlight-python .highlight {
    background: var(--color-mdsanima-code);
    border-left: 0.2rem solid var(--color-mdsanima-lime-600);
    border-right: 0.2rem solid var(--color-mdsanima-lime-600);
}

/* code block shell colors */
body:not([data-theme=light]) .highlight-shell .highlight {
    background: var(--color-mdsanima-code);
    border-left: 0.2rem solid var(--color-mdsanima-orange-500);
    border-right: 0.2rem solid var(--color-mdsanima-orange-500);
}

/* no link underline and hover color */
a {
    text-decoration: none;
}
a:hover {
    color: var(--color-mdsanima-sky-800);
}

/* code all */
code.literal {
    background: var(--color-mdsanima-code);
}

/* code paragraph */
p code.literal {
    border: 1px solid var(--color-mdsanima-code);
}

/* directives right border color */
.admonition {
    border-right: 0.2rem solid var(--color-admonition-title);
}
.admonition.caution {
    border-right-color: var(--color-admonition-title--caution);
}
.admonition.warning {
    border-right-color: var(--color-admonition-title--warning);
}
.admonition.danger {
    border-right-color: var(--color-admonition-title--danger);
}
.admonition.attention {
    border-right-color: var(--color-admonition-title--attention);
}
.admonition.error {
    border-right-color: var(--color-admonition-title--error);
}
.admonition.hint {
    border-right-color: var(--color-admonition-title--hint);
}
.admonition.tip {
    border-right-color: var(--color-admonition-title--tip);
}
.admonition.important {
    border-right-color: var(--color-admonition-title--important);
}
.admonition.note {
    border-right-color: var(--color-admonition-title--note);
}
.admonition.seealso {
    border-right-color: var(--color-admonition-title--seealso);
}
.admonition.admonition-todo {
    border-right-color: var(--color-admonition-title--admonition-todo);
}

/* badge no border */
:is(.sd-outline-primary, .sd-outline-secondary, .sd-outline-success, .sd-outline-info, .sd-outline-warning, .sd-outline-danger, .sd-outline-light, .sd-outline-dark) {
    border-width: 0px !important;
}

/* code no bacground */
:is(h1, h2, h3, h4, .sidebar-scroll, .toc-scroll, .related-pages, .toctree-wrapper) code.literal {
    background: var(--color-mdsanima-bg-primary);
}

/* badge text and border color */
.sd-text-primary {
    color: var(--color-mdsanima-sky-500) !important;
}
.sd-outline-primary {
    border-color: var(--color-mdsanima-sky-500) !important;
}
.sd-text-success {
    color: var(--color-mdsanima-lime-600) !important;
}
.sd-outline-success {
    border-color: var(--color-mdsanima-lime-600) !important;
}
.sd-text-info {
    color: var(--color-mdsanima-teal-500) !important;
}
.sd-outline-info {
    border-color: var(--color-mdsanima-teal-500) !important;
}
.sd-text-warning {
    color: var(--color-mdsanima-orange-500) !important;
}
.sd-outline-warning {
    border-color: var(--color-mdsanima-orange-500) !important;
}
.sd-text-danger {
    color: var(--color-mdsanima-red-500) !important;
}
.sd-outline-danger {
    border-color: var(--color-mdsanima-red-500) !important;
}

/* brand text size */
.sidebar-brand-text {
    font-size: 1.0rem;
}

/* change icon color when active python modules */
:is(h1 .sd-octicon-file-code, .sidebar-tree .current>.reference .sd-octicon-file-code) {
    fill: var(--color-mdsanima-lime-600);
}

/* change icon color when active terminal commands */
:is(h1 .sd-octicon-file-binary, .sidebar-tree .current>.reference .sd-octicon-file-binary) {
    fill: var(--color-mdsanima-orange-500);
}

/* change icon color when active project development */
:is(h1 .sd-octicon-workflow, .sidebar-tree .current>.reference .sd-octicon-workflow) {
    fill: var(--color-mdsanima-red-500);
}

/* animation on click */
:is(h1 .sd-octicon, .sidebar-tree .current-page>.reference .sd-octicon) {
    animation: 0.5s ease-out 0s 1 normal none running sd-slide-from-left;
}
