/* Copyritht © 2022 Marcin Różewski MDSANIMA */

/* Colors palette definition mdsanima scheme. */
:root {
  --color-mdsanima-sky-500: #0ea5e9;
  --color-mdsanima-sky-600: #0284c7;
  --color-mdsanima-sky-800: #075985;
  --color-mdsanima-lime-600: #65a30d;
  --color-mdsanima-teal-500: #14b8a6;
  --color-mdsanima-teal-600: #0d9488;
  --color-mdsanima-teal-700: #0f766e;
  --color-mdsanima-teal-800: #115e59;
  --color-mdsanima-orange-500: #f97316;
  --color-mdsanima-red-500: #ef4444;
  --color-mdsanima-code: #10141d;
  --color-mdsanima-bg-primary: #010409;
  --color-mdsanima-bg-secondary: #05080e;
}

/* Theme button disable only dark theme. */
.theme-toggle {
  display: none;
}

/* No line search. */
.sidebar-search {
  border-bottom: 0px;
  border-top: 0px;
}

/* Brand text size. */
.sidebar-brand-text {
  font-size: 1rem;
}

/* Colors and fonts. */
h1,
h2,
h3,
h4 {
  color: var(--color-mdsanima-teal-500);
}
h2,
h3,
h4 {
  font-family: monospace;
  color: var(--color-mdsanima-teal-500);
}

/* Space sidebar left. */
body {
  --sidebar-tree-space-above: 1rem; /* Space between search and first element. */
  --sidebar-caption-space-above: 0.8rem; /* Space between caption elements. */
}

/* Dark theme customization. */
body:not([data-theme="light"]) {
  --color-brand-primary: var(--color-mdsanima-teal-500); /* Text link left sidebar. */
  --color-brand-content: var(--color-mdsanima-teal-500); /* Text link code. */
  --color-background-primary: var(--color-mdsanima-bg-primary); /* Content right. */
  --color-background-secondary: var(--color-mdsanima-bg-primary); /* Content left. */
  --color-background-border: var(--color-mdsanima-code); /* No line. */
  --color-background-hover: var(--color-mdsanima-bg-secondary); /* Menu hover left. */
  --color-admonition-background: var(--color-mdsanima-bg-secondary); /* Colors admonitions. */
  --color-api-name: var(--color-mdsanima-sky-600); /* Code function right. */
  --color-problematic: var(--color-mdsanima-sky-800); /* Code function left. */
  --color-highlight-on-target: var(--color-mdsanima-code); /* Target click. */
  --sd-color-primary-highlight: var(--color-mdsanima-sky-800); /* Badge link text hover. */
  --color-admonition-title--seealso: var(--color-mdsanima-teal-500); /* Color admonition. */
  --color-sidebar-link-text--top-level: var(--color-mdsanima-sky-500); /* Color link sidebar. */
  --sd-color-card-background: var(--color-mdsanima-bg-secondary); /* Color bg card. */
}

/* Code block python colors. */
body:not([data-theme="light"]) .highlight-python .highlight {
  background: var(--color-mdsanima-code);
  border-left: 0.2rem solid var(--color-mdsanima-lime-600);
  border-right: 0.2rem solid var(--color-mdsanima-lime-600);
}

/* Code block shell colors. */
body:not([data-theme="light"]) .highlight-shell .highlight {
  background: var(--color-mdsanima-code);
  border-left: 0.2rem solid var(--color-mdsanima-orange-500);
  border-right: 0.2rem solid var(--color-mdsanima-orange-500);
}

/* Code block makrdown colors. */
body:not([data-theme="light"]) .highlight-markdown .highlight {
  background: var(--color-mdsanima-code);
  border-left: 0.2rem solid var(--color-mdsanima-sky-500);
  border-right: 0.2rem solid var(--color-mdsanima-sky-500);
}

/* No link underline and hover color. */
a {
  text-decoration: none;
}
a:hover {
  color: var(--color-mdsanima-teal-700);
}

/* Code all. */
code.literal {
  background: var(--color-mdsanima-code);
}

/* Code paragraph. */
p code.literal {
  border: 1px solid var(--color-mdsanima-code);
}

/* Directives right left no border color. */
.admonition {
  border-left: 0rem solid var(--color-admonition-title);
  border-right: 0rem solid var(--color-admonition-title);
}

/* Badge no border. */
:is(.sd-outline-primary, .sd-outline-secondary, .sd-outline-success, .sd-outline-info, .sd-outline-warning, .sd-outline-danger, .sd-outline-light, .sd-outline-dark) {
  border-width: 0px !important;
}

/* Code no bacground. */
:is(h1, h2, h3, h4, .sidebar-scroll, .toc-scroll, .related-pages, .toctree-wrapper) code.literal {
  background: var(--color-mdsanima-bg-primary);
}
:is(h1, h2, h3, h4, .related-pages, .toc-tree li.scroll-current > .reference) code.literal {
  color: var(--color-mdsanima-sky-500);
}
.toc-scroll code.literal {
  font-size: var(--font-size--small);
}

/* Badge text and border color. */
.sd-text-primary {
  color: var(--color-mdsanima-sky-500) !important;
}
.sd-outline-primary {
  border-color: var(--color-mdsanima-sky-500) !important;
}
.sd-text-success {
  color: var(--color-mdsanima-lime-600) !important;
}
.sd-outline-success {
  border-color: var(--color-mdsanima-lime-600) !important;
}
.sd-text-info {
  color: var(--color-mdsanima-teal-500) !important;
}
.sd-outline-info {
  border-color: var(--color-mdsanima-teal-500) !important;
}
.sd-text-warning {
  color: var(--color-mdsanima-orange-500) !important;
}
.sd-outline-warning {
  border-color: var(--color-mdsanima-orange-500) !important;
}
.sd-text-danger {
  color: var(--color-mdsanima-red-500) !important;
}
.sd-outline-danger {
  border-color: var(--color-mdsanima-red-500) !important;
}

/* Animation on click. */
:is(h1 .sd-octicon, .sidebar-tree .current-page > .reference .sd-octicon) {
  animation: 0.5s ease-out 0s 1 normal none running sd-slide-from-left;
  fill: var(--color-mdsanima-teal-500);
}

/* Page toctree sidebar right fonts. */
.toctree-wrapper,
.toc-tree {
  font-family: monospace;
  font-size: var(--font-size--small);
}

/* Remove icon on related pages and toctree. */
.related-pages svg,
.toctree-wrapper svg {
  display: none;
}
.related-pages code.literal {
  padding: 0%;
}

/* Custom code block colors. */
body:not([data-theme="light"]) .highlight :is(.kn, .kc) {
  color: var(--color-mdsanima-lime-600);
}
body:not([data-theme="light"]) .highlight :is(.nn, .nf, .mi, .mf) {
  color: var(--color-mdsanima-sky-500);
  text-decoration: none;
}
body:not([data-theme="light"]) .highlight .s2 {
  color: var(--color-mdsanima-orange-500);
}
body:not([data-theme="light"]) .highlight .nb {
  color: var(--color-mdsanima-teal-500);
}
body:not([data-theme="light"]) .highlight .m {
  color: #d0d0d0;
}

/* Adjust gif on home page. */
img[alt~="mdsanima-dev-python-show-gif"] {
  max-width: 86%;
  margin: auto;
  display: block;
}
